body {
	margin: 0;
}
.container {
	width: 1140px;
	margin: 0 auto;
	text-align: center;
}
.bigButton {
	padding: 100px;
	color: #fff;
	background-color: #1bc6b2;
	margin: 10px auto;
	left: 50%;
	transform: translate(-50%, 0);
	border: 0;
	border-radius: 6px;
	box-shadow: 1px 1px 3px #333;
	font-size: 50px;
	position: fixed;
	text-shadow: 1px 1px 1px #333;
}
.lightboxBG {
	background-color: rgba(51, 51, 51, .8);
	height: 1000px;
	width: 100%;
	position: relative;
}
.lightbox {
	background-color: #fff;
	width: 50%;
	padding: 20px;
	border-radius: 10px;
	margin: 0 auto;
	position: absolute;
	top: 20%;
	left: 50%;
	margin-right: -20%;
	transform: translate(-50%, -50%);
}
.lightbox > div {
	margin-bottom: 50px;
}

.lightbox button {
	color: #fff;
	border-radius: 6px;
	padding: 10px 35px;
	background-color: #E6848B;
	float: right;
	text-decoration: none;
	border: 0;
}